# **Project Amazon Report Sales**

## **Team 03**
**Mariana Tapieros, 
Harsh Saxena, 
Olid Sarker,
Chirag Mahayan**

This data set is located in https://www.kaggle.com/datasets/thedevastator/unlock-profits-with-e-commerce-sales-data?resource=download&select=Amazon+Sale+Report.csv


Write Goal here:

In [ ]:
import pandas as pd
import numpy as np
import scipy as sp 
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc
import plotly.express as px
# suppressing warnings
import warnings
warnings.filterwarnings('ignore')
pd.options.display.float_format = '{:.6f}'.format

In [ ]:
df = pd.read_csv('Amazon Sale Report.csv')

In [ ]:
df.head()

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.620000,MUMBAI,MAHARASHTRA,400081.000000,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.000000,BENGALURU,KARNATAKA,560085.000000,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.000000,NAVI MUMBAI,MAHARASHTRA,410210.000000,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.330000,PUDUCHERRY,PUDUCHERRY,605008.000000,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.000000,CHENNAI,TAMIL NADU,600073.000000,IN,NaN,False,NaN,NaN

## **Descriptive Analysis**

### **Number of columns and rows**

In [ ]:
columns = df.columns
columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [ ]:
rows = df.index
rows

RangeIndex(start=0, stop=128975, step=1)

In [ ]:
df.shape

(128975, 24)

In [ ]:
df.shape[0]

128975

In [ ]:
df.shape[1]

24

### **Data Type**

In [ ]:
df.dtypes

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

**Boolean Variables**

In [ ]:
Boolean_Variables = list(df.select_dtypes(bool).columns)
Boolean_Variables

['B2B']

In [ ]:
df['B2B'] = df['B2B'].astype(object)

**Categorical Variables**

In [ ]:
df['ship-postal-code'] = df['ship-postal-code'].astype(object)
Categorical_Variables = list(df.select_dtypes(object).columns)
Categorical_Variables

['Order ID',
 'Date',
 'Status',
 'Fulfilment',
 'Sales Channel ',
 'ship-service-level',
 'Style',
 'SKU',
 'Category',
 'Size',
 'ASIN',
 'Courier Status',
 'currency',
 'ship-city',
 'ship-state',
 'ship-postal-code',
 'ship-country',
 'promotion-ids',
 'B2B',
 'fulfilled-by',
 'Unnamed: 22']

In [ ]:
len(Categorical_Variables)

21

**Numerical Variables**

In [ ]:
Numerical_Variables = list(set(df.columns) - set(df.select_dtypes(object).columns) - set(df.select_dtypes(bool).columns))
Numerical_Variables

['index', 'Qty', 'Amount']

### **Mean, Standard Deviation, Min and Max using Descriptive Statistics**

In [ ]:
df.describe()

              index           Qty        Amount
count 128975.000000 128975.000000 121180.000000
mean   64487.000000      0.904431    648.561465
std    37232.019822      0.313354    281.211687
min        0.000000      0.000000      0.000000
25%    32243.500000      1.000000    449.000000
50%    64487.000000      1.000000    605.000000
75%    96730.500000      1.000000    788.000000
max   128974.000000     15.000000   5584.000000

### **Median**

In [ ]:
pd.DataFrame(df[Numerical_Variables].median()).rename(columns={0:'Median'})

             Median
index  64487.000000
Qty        1.000000
Amount   605.000000

### **Mode**

In [ ]:
df.mode()[:1].T.rename(columns={0:'Mode'})

                                                            Mode
index                                                          0
Order ID                                     171-5057375-2831560
Date                                                    05-03-22
Status                                                   Shipped
Fulfilment                                                Amazon
Sales Channel                                          Amazon.in
ship-service-level                                     Expedited
Style                                                    JNE3797
SKU                                                 JNE3797-KR-L
Category                                                     Set
Size                                                           M
ASIN                                                  B09SDXFFQ1
Courier Status                                           Shipped
Qty                                                     1.000000
currency                                                     INR
Amount                                                399.000000
ship-city                                              BENGALURU
ship-state                                           MAHARASHTRA
ship-postal-code                                   201301.000000
ship-country                                                  IN
promotion-ids       IN Core Free Shipping 2015/04/08 23-48-5-108
B2B                                                        False
fulfilled-by                                           Easy Ship
Unnamed: 22                                                False

### **Variance**

In [ ]:
pd.DataFrame(df[Numerical_Variables].var()).rename(columns={0:'Variance'})

                Variance
index  1386223300.000000
Qty             0.098190
Amount      79080.013034

### **Min**

In [ ]:
pd.DataFrame(df.min()).rename(columns={0:'Min'})

                                    Min
index                                 0
Order ID            171-0000547-8192359
Date                           03-31-22
Status                        Cancelled
Fulfilment                       Amazon
Sales Channel                 Amazon.in
ship-service-level            Expedited
Style                             AN201
SKU                         AN201-RED-M
Category                         Blouse
Size                                3XL
ASIN                         B01LYC0N7Q
Qty                                   0
Amount                         0.000000
ship-postal-code          110001.000000
B2B                               False
Unnamed: 22                       False

### **Null Values**

In [ ]:
pd.DataFrame(df.isnull().sum()).rename(columns={0:'Null Values'})

                    Null Values
index                         0
Order ID                      0
Date                          0
Status                        0
Fulfilment                    0
Sales Channel                 0
ship-service-level            0
Style                         0
SKU                           0
Category                      0
Size                          0
ASIN                          0
Courier Status             6872
Qty                           0
currency                   7795
Amount                     7795
ship-city                    33
ship-state                   33
ship-postal-code             33
ship-country                 33
promotion-ids             49153
B2B                           0
fulfilled-by              89698
Unnamed: 22               49050

### **Percentage of Null Values**

In [ ]:
pd.DataFrame(df.isnull().sum() * 100 / len(df)).rename(columns={0:'% Null Values'})

                    % Null Values
index                    0.000000
Order ID                 0.000000
Date                     0.000000
Status                   0.000000
Fulfilment               0.000000
Sales Channel            0.000000
ship-service-level       0.000000
Style                    0.000000
SKU                      0.000000
Category                 0.000000
Size                     0.000000
ASIN                     0.000000
Courier Status           5.328164
Qty                      0.000000
currency                 6.043807
Amount                   6.043807
ship-city                0.025586
ship-state               0.025586
ship-postal-code         0.025586
ship-country             0.025586
promotion-ids           38.110487
B2B                      0.000000
fulfilled-by            69.546811
Unnamed: 22             38.030626

### **Correlation Matrix**

In [ ]:
df.corr()

          index      Qty   Amount
index  1.000000 0.010621 0.047571
Qty    0.010621 1.000000 0.066900
Amount 0.047571 0.066900 1.000000

## **Data Cleaning and Precessinng**

### **Table of df type, null values and unique values for better visualization**

In [ ]:
def printinfo():
    temp = pd.DataFrame(index= df.columns)
    temp['data_type'] = df.dtypes
    temp['null_count'] =df.isnull().sum()
    temp['unique_count'] = df.nunique()
    return temp
printinfo()

                   data_type  null_count  unique_count
index                  int64           0        128975
Order ID              object           0        120378
Date                  object           0            91
Status                object           0            13
Fulfilment            object           0             2
Sales Channel         object           0             2
ship-service-level    object           0             2
Style                 object           0          1377
SKU                   object           0          7195
Category              object           0             9
Size                  object           0            11
ASIN                  object           0          7190
Courier Status        object        6872             3
Qty                    int64           0            10
currency              object        7795             1
Amount               float64        7795          1410
ship-city             object          33          8955
ship-state            object          33            69
ship-postal-code      object          33          9459
ship-country          object          33             1
promotion-ids         object       49153          5787
B2B                   object           0             2
fulfilled-by          object       89698             1
Unnamed: 22           object       49050             1

## **Dropping Variables**

### Dropping Numerical Variables Zero variance

In [ ]:
df[Numerical_Variables].std()

index    37232.019822
Qty          0.313354
Amount     281.211687
dtype: float64

In [ ]:
df = df.drop(df[Numerical_Variables].std()[df[Numerical_Variables].std()== 0].index, axis = 1)

In [ ]:
df[Numerical_Variables].std()

index    37232.019822
Qty          0.313354
Amount     281.211687
dtype: float64

In [ ]:
df = df.drop('index', axis = 1)

In [ ]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,...,INR,647.620000,MUMBAI,MAHARASHTRA,400081.000000,IN,NaN,False,Easy Ship,NaN
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,...,INR,406.000000,BENGALURU,KARNATAKA,560085.000000,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,...,INR,329.000000,NAVI MUMBAI,MAHARASHTRA,410210.000000,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,...,INR,753.330000,PUDUCHERRY,PUDUCHERRY,605008.000000,IN,NaN,False,Easy Ship,NaN
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,...,INR,574.000000,CHENNAI,TAMIL NADU,600073.000000,IN,NaN,False,NaN,NaN

### Dropping Categorical Variables with Zero variance

In [ ]:
Categorical_Variables = list(df.select_dtypes(object).columns)
Categorical_Variables

['Order ID',
 'Date',
 'Status',
 'Fulfilment',
 'Sales Channel ',
 'ship-service-level',
 'Style',
 'SKU',
 'Category',
 'Size',
 'ASIN',
 'Courier Status',
 'currency',
 'ship-city',
 'ship-state',
 'ship-postal-code',
 'ship-country',
 'promotion-ids',
 'B2B',
 'fulfilled-by',
 'Unnamed: 22']

In [ ]:
len(Categorical_Variables)

21

In [ ]:
zero_cardinality = [] 

for i in Categorical_Variables: 
    if len(df[i].value_counts().index) == 1:
        zero_cardinality.append(i)
zero_cardinality

['currency', 'ship-country', 'fulfilled-by', 'Unnamed: 22']

**Note: We will Not drop the 'ship-country' variable, since we will need it for visualization on tableau**

In [ ]:
df = df.drop(['currency', 'fulfilled-by', 'Unnamed: 22'], axis =1)

### Dropping Categorical Variables with Many Levels

In [ ]:
Categorical_Variables = list(df.select_dtypes(object).columns)
Categorical_Variables

['Order ID',
 'Date',
 'Status',
 'Fulfilment',
 'Sales Channel ',
 'ship-service-level',
 'Style',
 'SKU',
 'Category',
 'Size',
 'ASIN',
 'Courier Status',
 'ship-city',
 'ship-state',
 'ship-postal-code',
 'ship-country',
 'promotion-ids',
 'B2B']

In [ ]:
len(Categorical_Variables)

18

In [ ]:
high_cardinality = [] 

for i in Categorical_Variables: 
    if len(df[i].value_counts().index) > 200: 
        high_cardinality.append(i) 
        
print(high_cardinality)

['Order ID', 'Style', 'SKU', 'ASIN', 'ship-city', 'ship-postal-code', 'promotion-ids']

**Note: We will Not drop the 'Order ID', 'ship-city', 'ship-postal-code', 'promotion-ids' variable, since we will need it for visualization on tableau**

In [ ]:
df = df.drop(['Style', 'SKU', 'ASIN'], axis = 1)

In [ ]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B
0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Set,S,NaN,0,647.620000,MUMBAI,MAHARASHTRA,400081.000000,IN,NaN,False
1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,kurta,3XL,Shipped,1,406.000000,BENGALURU,KARNATAKA,560085.000000,IN,Amazon PLCC Free-Financing Universal Merchant ...,False
2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,329.000000,NAVI MUMBAI,MAHARASHTRA,410210.000000,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True
3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,Western Dress,L,NaN,0,753.330000,PUDUCHERRY,PUDUCHERRY,605008.000000,IN,NaN,False
4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,Top,3XL,Shipped,1,574.000000,CHENNAI,TAMIL NADU,600073.000000,IN,NaN,False

## Data Imputation

**Numerical Variables**

In [ ]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status         6872
Qty                       0
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
dtype: int64

In [ ]:
Numerical_Variables = list(df.select_dtypes(exclude = object).columns)
Numerical_Variables

['Qty', 'Amount']

In [ ]:
df['Amount'].median()

605.0

In [ ]:
df['Amount'] = df['Amount'].fillna(df['Amount'].median(), inplace = False)

**Categorial Variable**

In [ ]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status         6872
Qty                       0
Amount                    0
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
dtype: int64

In [ ]:
Categorical_Variables = list(df.select_dtypes(object).columns)
Categorical_Variables

['Order ID',
 'Date',
 'Status',
 'Fulfilment',
 'Sales Channel ',
 'ship-service-level',
 'Category',
 'Size',
 'Courier Status',
 'ship-city',
 'ship-state',
 'ship-postal-code',
 'ship-country',
 'promotion-ids',
 'B2B']

In [ ]:
df[Categorical_Variables].mode()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B
0,171-5057375-2831560,05-03-22,Shipped,Amazon,Amazon.in,Expedited,Set,M,Shipped,BENGALURU,MAHARASHTRA,201301.000000,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False
1,403-4984515-8861958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.fillna({'Courier Status' : 'Shipped','promotion-ids': 'No Promotion', 'ship-country': 'IN' })

**Note: Since we know our data, we can not impute the location of the orders with the mode, since a state may not macth with the city or zip code, for these reason we can delete the rows or filter the data to no take into account missing values for map graphs.**

**Note: For our 'promotion-ids' variable we can not impute the data with its mode. Since orders with this missing value mean that they do not apply for a promotion ids.**

In [ ]:
df.isnull().sum()

Order ID               0
Date                   0
Status                 0
Fulfilment             0
Sales Channel          0
ship-service-level     0
Category               0
Size                   0
Courier Status         0
Qty                    0
Amount                 0
ship-city             33
ship-state            33
ship-postal-code      33
ship-country           0
promotion-ids          0
B2B                    0
dtype: int64

In [ ]:
df = df.dropna()

In [ ]:
df.isnull().sum()

Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Category              0
Size                  0
Courier Status        0
Qty                   0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
promotion-ids         0
B2B                   0
dtype: int64

**Exporting our Clean Data**

In [ ]:
df.to_csv("CleanData_Amazon.csv")